
@font-face {
  font-family: 'iconfont';  /* project id 712009 */
  src: url('//at.alicdn.com/t/font_712009_g0h8gj65pwe.eot');
  src: url('//at.alicdn.com/t/font_712009_g0h8gj65pwe.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_712009_g0h8gj65pwe.woff') format('woff'),
  url('//at.alicdn.com/t/font_712009_g0h8gj65pwe.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_712009_g0h8gj65pwe.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: "\e6ac"; }

